<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <!-- Make our custom controll accessible on all pages as <acme:DropDownList ID="ddl" runat="server" /> -->
        <add tagPrefix="acme" namespace="Controls" assembly="Controls" />
      </controls>
    </pages>
  </system.web>
</configuration>